@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: greenyellow;
}

body {
  overflow: hidden;
  background-color: black;
}

.board button {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 1px;
  border: 2px solid orange;
  border-radius: 50%;
}
